@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'BlenderProHeavy';
        src: url("/fonts/BlenderProHeavy.woff2") format("woff2");
        font-weight: 900;
    }

    @font-face {
        font-family: 'BlenderProBold';
        src: url("/fonts/BlenderProBold.woff2") format("woff2");
        font-weight: 700;
    }
}